{% extends "quiz/base.html" %}
{% block title %}Password Reset Complete - Pro Prelims{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-sm text-center">
      <div class="card-body">
        <h4 class="mb-3"><i class="fa fa-check-circle text-success me-2"></i>Password Reset Successful</h4>
        <p>Your password has been reset. You can now log in with your new credentials.</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary mt-3">Go to Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
